.Edit .App-logo-name {
    margin-top: 50px;
}

h3 {
    font-weight: 300;
    text-transform: capitalize;
}

form#edit-form {
    min-width: 70vw;
    max-width: 90vw;
}

.buttons-bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 2vw 10px 5vw;
}

.buttons-bottom-section a.form-previous-step {
    font-weight: 300;
    color: var(--palette-1-3-medium);
    font-size: 0.9em;
}

.moving-arrow {
    font-weight: 300;
    font-size: 1.3em;
}

.next-arrow {
    margin-left: 7px;
}

.previous-arrow {
    margin-right: 7px;
}

input {
    margin: 1rem 0;
}

label {
    display: inline-block;
    font-size: .8rem;
}

input:invalid+span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}

a.form-cancel-link {
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 0.8em;
}

a.form-cancel-link:hover {
    color: black;
}


fieldset {
    border: none;
}

label.checkbox-button {
    border: 1px solid var(--palette-1-3-light);
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--palette-1-3-medium);
    cursor: pointer;
    margin: 20px;
}

label.checkbox-button:hover {
    border: 1px solid var(--palette-1-3-light);
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--palette-1-3-medium);
    background-color: var(--palette-1-3-very-very-light);
    cursor: pointer;
}

fieldset.checkboxes-itemsType label {
    width: 100px;
    height: 75px;
}

label.checkbox-icon {
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
}

label.checkbox-icon.checked {
    background-color: var(--palette-1-3-very-light);
    border: 1px solid var(--palette-1-3);
}

label.checkbox-icon.checked:hover {
    background-color: var(--palette-1-3-light);
}

label.checkbox-icon p {
    visibility: hidden;
}

label.shirt {
    background-image: url(../assets/shirt.svg);
    opacity: 0.6;
}

label.totebag {
    background-image: url(../assets/totebag.svg);
    opacity: 0.6;
}

label.checkbox-button input {
    width: 0;
    height: 0;
    display: none;
}

fieldset.checkboxes-productsSelected {
    /* display: grid; */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px) ) ;
    /* grid-template-rows: 35vw; */
    grid-auto-flow: row;
    justify-content: space-evenly;
}

fieldset label.checkbox-photo {
    /* width: 100%; */
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

fieldset label.checkbox-photo:hover {
    opacity: 0.9;
}

label.checkbox-photo.checked {
    background-color: var(--palette-1-3-very-light);
    border: 1px solid var(--palette-1-3);
    opacity: 1;
}

.img2018FFS {
    background-image: url(../assets/2018FFS.png);
}

.img2018FTETOT {
    /* background: linear-gradient(rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.9) 95%), url(../assets/2018FTETOT.png); */
    background-image: url(../assets/2018FTETOT.png);
}

.img2018FTL {
    background-image: url(../assets/2018FTL.png);
}

.img2018FTM {
    background-image: url(../assets/2018FTM.png);
}

.img2018FTRTOT {
    background-image: url(../assets/2018FTRTOT.png);
}

label.checkbox-photo p {
    visibility: hidden;
}

.products-sizes {
    margin: 50px 0 25px;
}

.product-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    border-radius: 5px;
}

.accordion-preview {
    background-size: 120%;
    background-position: center 50%;
    height: 100px;
    width: 50vw;
    border: 1px solid var(--palette-1-3-very-very-light);
}

.accordion-sizes {
    width: 50vw;
    max-width: calc(90vw - 200px);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 70px);
    /* grid-template-rows: 35vw; */
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 20px 20px;
    border-radius: 0 0 5px 5px ;
    background-color: var(--light-light-grey);
}

.product-accordion h4 {
    font-size: 1.7em;
    text-transform: uppercase;
    width: 100%;
    height: 70%;
    background-color: #751fc594;
    color: #fff;
    border-radius: 5px 5px 0 0 ;
    text-shadow: 1px 1px 7px #000;
    margin: 0;
    padding: 10px;
}

.product-accordion p {
    font-size: 1em;
    text-transform: capitalize;
    width: 100%;
    height: 30%;
    background-color: #751fc594;
    color: #fff;
    text-shadow: 1px 1px 7px #000;
    margin: 0;
}

.accordion-sizes input {
    width: 70px;
    margin: 0 5px  ;
}

.card-four-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 40px 0;
    width: 40vw;
}

.card-four-inputs label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.card-four-inputs input,
.card-four-inputs textarea {
    margin-left: 15px;
    border: 1px solid var(--palette-1-3-very-light);
    border-radius: 2px;
    padding: 5px;
    width: 40vw;
}

.card-four-inputs input:focus,
.card-four-inputs textarea:focus {
    border: 1px solid var(--palette-1-3-medium);
    box-shadow: 1px 1px 1px var(--light-grey) inset;
}

.card-four-inputs textarea {
    height: 10vh;
}

.card-success {
    min-height: 150px;
}

@media only screen and (min-width: 900px) {

    form#edit-form {
        max-width: calc(90vw - var(--navbar-tablet-width ));
    }
  
}
  
@media only screen and (min-width: 1100px) {

    form#edit-form {
        max-width: calc(90vw - var(--navbar-desktop-width ));
    }
}

