
/*    NAVBAR    */


nav {
    background-color: #fff;
    box-shadow: 0 -7px 6px -6px var(--medium-grey);
    height: var(--navbar-mobile-height);
    width: 100vw;
    display: flex;
    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 20;
    position: fixed;
    font-family: 'PT Sans', sans-serif;
}

nav > ul {
    width: 100vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--dark-grey);
}

nav a {
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    color: var(--light-medium-grey);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a:visited {
    color: var(--dark-grey);
}

nav a:hover {
    color: var(--dark-grey);
}

nav a.currentNav:hover {
    cursor: auto;
    color: var(--dark-grey);
}

/* targets the Bacalao logo on desktop */
nav li:first-of-type img.logo.only-desktop {
    width: 50px;
}

nav li p {
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

nav li img {
    width: 23px;
    margin: 5px 0;
    opacity: 1;
}

img.icon-small {
    width: 20px;;
}


@media only screen and (min-width: 900px) {

    nav {
        min-height: 100vh;
        width: var(--navbar-tablet-width);
        left: 0;
        bottom: 0;
    }

    nav > ul {
        margin-top: 30px;
        justify-content: flex-start;
        flex-direction: column;
    }

    nav a:hover {
        opacity: 0.9;
    }

    nav > ul > li {
        margin: 20px 0;
    }

    nav li img {
        width: 27px;
        margin: 10px 0;
        opacity: 0.7;
    }
      
  }

  @media only screen and (min-width: 1100px) {

    nav {
        width: var(--navbar-desktop-width);
    }

    nav a:hover {
        opacity: 0.9;
    }

    nav > ul > li {
        margin: 10px 0;
    }

    nav > ul > li:first-of-type {
        margin: 20px 0;
    }

    nav > ul > li:first-of-type a {
        justify-content: center;;
    }

    nav > ul > li:nth-child(2) {
        margin: 40px 0 10px;
    }

    nav a {
        flex-direction: row;
        justify-content: flex-start;
        font-weight: 400;
        width: calc(var(--navbar-desktop-width) - 40px);

    }

    nav li img {
        min-width: 23px;
        margin: 0 10px;
    }
      
  }